<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>全台AQI</title>
        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css//Lightbox/lightbox.css">
        <link rel="stylesheet" href="css/all.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-md sticky-top" data-aos="fade-down" data-aos-duration="500" style="background-color: rgba(0, 0, 0, 0.9);">
            <a class="navbar-brand d-md-none" href="#">
                全台AQI
            </a>
            <button class="navbar-toggler ml-auto text-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="d-md-flex d-block w-100">
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav  align-items-center">
                        <a class="nav-item nav-link active text-white" style="font-size: 20px" href="https://hsiangfeng.github.io/vuejsAQI/">
                            首頁<span class="sr-only">(current)</span>
                        </a>
                        <a class="navbar-brand mx-2 d-none d-md-inline px-4" href="/">
                            全台AQI資訊網
                        </a>
                        <a class="nav-item nav-link text-white" style="font-size: 20px" href="https://hsiangfeng.github.io/AJAX-HomeWork/">
                            高雄旅遊
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container bg-data" id="app">
            <h3 class="text-white mb-3 text-center">選擇城市</h3>
            <select class="form-control mb-3" v-model="filter">
                <option value="" disabled>--- 請選擇城市 ---</option>
                <option v-bind:value="item" v-for="item in location">{{item}}</option>
            </select>
            <h4>關注城市</h4>
            <div class="card-columns">
                <countycomponent v-for="item in stared" :aqielement="item" :key="item.SiteName" v-on:removestarmark="removeStar(item)"
                    :isstar=true></countycomponent>
            </div>
            <hr>
            <div class="card-columns">
                <countycomponent v-for="item in data" v-if="item.County == filter" :aqielement="item" :key="item.SiteName"
                    v-on:addstarmark="addStar(item)"></countycomponent>
            </div>
            <h4>數據參考值</h4>
            <a href="https://hsiangfeng.github.io/vuejsAQI/img/2018-12-03_11-45-32.png" data-lightbox="image-box" data-title="空氣品質指標(AQI)與健康影響">
                <img src="https://hsiangfeng.github.io/vuejsAQI/img/2018-12-03_11-45-32.png" class="img-thumbnail rounded" alt="">
            </a>
            <h4>空氣品質指標(AQI)與活動建議</h4>
            <a href="https://hsiangfeng.github.io/vuejsAQI/img/2018-12-03_11-45-41.png" data-lightbox="image-box" data-title="空氣品質指標(AQI)與活動建議">
                <img src="https://hsiangfeng.github.io/vuejsAQI/img/2018-12-03_11-45-41.png" class="img-thumbnail rounded" alt="">
            </a>
        </div>
        <footer class="container-fluid text-center footer-color">
            <p class="text-block pt-2">AQI監測</p>
            <p class="text-block mb-0 pb-3">資料來源：OpenData.epa 行政院環境保護署環境資源資料開放平台 </p>
        </footer>

        <!-- 元件建立 -->
        <script type="text/x-template" id="countycomponent">
                    <div class="card" >
                        <div class="card-header" v-bind:class="status">{{aqielement.County}} - {{aqielement.SiteName}}
                            <a href="#" class="float-right" v-on:click.prevent="addStar" v-if="!isstar"><i class="far fa-star" ></i></a>
                            <a href="#" class="float-right" v-on:click.prevent="removeStar" v-if="isstar"><i class="fas fa-star" ></i></a>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>AQI 指數: {{aqielement.AQI}}</li>
                                <li>PM2.5: {{aqielement['PM2.5']}}</li>
                                <li>狀況: {{aqielement.Status}}</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                                <small class="text-muted">{{aqielement.PublishTime}}</small>
                        </div>
                    </div>
                </div>
            </script>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/lightbox.js"></script>
        <script src="js/vue.min.js"></script>
        <script src="js/all.js"></script>
    </body>

</html>